<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/default_layout}">
<meta charset="UTF-8">

<th:block layout:fragment="title">
    <title>회원가입</title>
</th:block>
<th:block layout:fragment="content">
    <!--/* 회원가입 popup */-->
    <div id="signup">
        <div class="signup_container">
            <form id="signupForm" onsubmit="return false;" autocomplete="off">
                <table class="tb tb_row tl">
                    <coglgroup>
                        <col style="width:20%;"/>
                        <col style="width:40%;"/>
                        <col style="width:40%;"/>
                    </coglgroup>
                    <tbody>
                    <tr>
                        <th scope="row">아이디</th>
                        <td>
                            <input type="text" name="loginId" id="loginId" placeholder="아이디" maxlength="20"
                                   onkeyup="checkLoginId()"/>
                            <button type="button" id="idCheckBtn" class="btns btn_st5"
                                    onclick="checkDuplicate(document.getElementById('loginId').value);">중복 확인
                            </button>
                        </td>
                        <td class="success-message hide">사용할 수 있는 아이디입니다</td>
                        <td class="failure-message hide">아이디는 4~12글자이어야 합니다</td>
                        <td class="failure-message2 hide">영어 또는 숫자만 가능합니다</td>
                    </tr>

                    <tr>
                        <th scope="row">비밀번호</th>
                        <td><input type="password" name="password" id="password" placeholder="비밀번호" maxlength="30"
                                   onkeyup="checkPassword()"/></td>
                        <td class="strongPassword-message hide">8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&)를 사용하세요</td>
                    </tr>
                    <tr>
                        <th scope="row">비밀번호 재입력</th>
                        <td><input type="password" name="passwordCheck" id="passwordCheck" placeholder="비밀번호 재입력"
                                   maxlength="30" onkeyup="checkPasswordRetype()"/></td>
                        <td class="mismatch-message hide">비밀번호가 일치하지 않습니다</td>
                    </tr>

                    <tr>
                        <th scope="row">이름</th>
                        <td><input type="text" name="name" placeholder="이름" maxlength="10"/></td>
                    </tr>
                    <tr>
                        <th scope="row">주민등록번호</th>
                        <td><input type="number" name="jumin" placeholder="숫자 13자리 입력"/></td>
                    </tr>
                    <tr>
                        <th scope="row">휴대전화번호</th>
                        <td><input type="number" name="phone" placeholder="숫자 11자리 입력"/></td>
                    </tr>
                    <tr>
                        <th scope="row">주소</th>
                        <td>
                            <input type="text" id="postcode" placeholder="우편번호">
                            <button onclick="daumPostcode()">우편번호 찾기</button>
                            <br>
                            <input type="text" id="roadAddress" placeholder="도로명주소">
                            <input type="text" id="jibunAddress" placeholder="지번주소">
                            <span id="guide" style="color:#999;display:none"></span>
                            <input type="text" id="detailAddress" placeholder="상세주소">
                            <input type="text" id="extraAddress" placeholder="참고항목">
                        </td>

                    </tr>
                    </tbody>
                </table>
            </form>
            <p class="btn_set">
                <button type="button" class="btns btn_st2" onclick="saveUser();">가입</button>
                <button type="button" class="btns btn_bdr2" onclick="userReset();">리셋</button>
            </p>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <style>
        .hide {
            display: none;
        }
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>

        function idLength(value) {
            return value.length >= 4 && value.length <= 12
        }

        function onlyNumberAndEnglish(str) {
            return /^[A-Za-z0-9][A-Za-z0-9]*$/.test(str);
        }

        function strongPassword(str) {
            return /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/.test(str);
        }

        function isMatch(password1, password2) {
            return password1 === password2;
        }

        function daumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("roadAddress").value = roadAddr;
                    document.getElementById("jibunAddress").value = data.jibunAddress;

                    if (roadAddr !== '') {
                        document.getElementById("extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("extraAddress").value = '';
                    }
                }
            }).open();
        }

        function userReset() {
            var inputElements = document.querySelectorAll('input');
            inputElements.forEach(function (input) {
                input.value = "";
            });
        }

        function checkDuplicate(loginId) {
            let successMessageElement = document.querySelector('.success-message');
            if (!successMessageElement.classList.contains('hide')) {
                axios.get('/idcheck', {
                    params: {
                        loginId: loginId
                    }
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.error("Error:", error);
                    });
            }
        }


        function checkLoginId() {
            let elInputId = document.getElementById('loginId');
            let elSuccessMessage = document.querySelector('.success-message');
            let elFailureMessage = document.querySelector('.failure-message');
            let elFailureMessageTwo = document.querySelector('.failure-message2');

            if (elInputId.value.length !== 0) {
                // 영어 또는 숫자 외의 값을 입력했을 경우
                if (onlyNumberAndEnglish(elInputId.value) === false) {
                    elSuccessMessage.classList.add('hide');
                    elFailureMessage.classList.add('hide');
                    elFailureMessageTwo.classList.remove('hide');
                }
                // 글자 수가 4~12글자가 아닐 경우
                else if (idLength(elInputId.value) === false) {
                    elSuccessMessage.classList.add('hide');
                    elFailureMessage.classList.remove('hide');
                    elFailureMessageTwo.classList.add('hide');
                }
                // 조건을 모두 만족할 경우
                else if (idLength(elInputId.value) || onlyNumberAndEnglish(elInputId.value)) {
                    elSuccessMessage.classList.remove('hide');
                    elFailureMessage.classList.add('hide');
                    elFailureMessageTwo.classList.add('hide');
                }
            }
            // 값을 입력하지 않은 경우 (지웠을 때)
            else {
                elSuccessMessage.classList.add('hide');
                elFailureMessage.classList.add('hide');
                elFailureMessageTwo.classList.add('hide');
            }
        }

        function checkPassword() {
            let elInputPassword = document.getElementById('password');
            let elStrongPasswordMessage = document.querySelector('.strongPassword-message');
            // 값을 입력한 경우

            if (elInputPassword.value.length !== 0) {
                if (strongPassword(elInputPassword.value)) {
                    elStrongPasswordMessage.classList.add('hide'); // 실패 메시지가 가려져야 함
                } else {
                    elStrongPasswordMessage.classList.remove('hide'); // 실패 메시지가 보여야 함
                }
            }
                // 값을 입력하지 않은 경우 (지웠을 때)
            // 모든 메시지를 가린다.
            else {
                elStrongPasswordMessage.classList.add('hide');
            }


        }

        function checkPasswordRetype() {
            let elInputPassword = document.getElementById('password');
            let elInputPasswordRetype = document.getElementById('passwordCheck');
            let elMismatchMessage = document.querySelector('.mismatch-message');

            if (elInputPasswordRetype.value.length !== 0) {
                if (isMatch(elInputPassword.value, elInputPasswordRetype.value)) {
                    elMismatchMessage.classList.add('hide'); // 실패 메시지가 가려져야 함
                } else {
                    elMismatchMessage.classList.remove('hide'); // 실패 메시지가 보여야 함
                }
            } else {
                elMismatchMessage.classList.add('hide'); // 실패 메시지가 가려져야 함
            }
        }
    </script>
</th:block>

