
<!DOCTYPE html>
<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block layout:fragment="script">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


    </th:block>

    <th:block layout:fragment="css">
       <style>
        .field-error {
        color: red;
        }

       </style>
    </th:block>

<div th:replace="common/header::header"></div>

<div layout:fragment="content"></div>

</html>