<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<!--    <link rel="stylesheet" type="text/css" href="/static/header.css"/>-->

<div th:fragment="header">
    <div class="page">
            <h2>home</h2>
            <nav>
                <ul>
                    <li><a href="">board1</a></li>
                    <li><a href="">board2</a></li>
                    <li><a href="">board3</a></li>
                    <li><a href="">write</a></li>
                    <li th:if="${loginUser == null}">
                        <a href="/login">login</a>
                    </li>
                    <li th:if="${loginUser != null}">
                        <span th:text="${loginUser.user_name}"></span>
                        <a href="/logout">logout</a>
                    </li>
                </ul>

            </nav>
    </div>
</div>
</html>